---
- name: interpolating vars for {{ etcd_exe }}
  include_vars: link-vars.yml
- name: checking for {{ etcd_fq_exe }}
  become: true
  stat:
    path: '{{ etcd_fq_exe }}'
  register: etcd_has_exe

- when: etcd_has_exe.stat.exists
  name: linking {{ etcd_fq_link }} to {{ etcd_fq_exe }}
  become: true
  become_user: root
  file:
    src: '{{ etcd_fq_exe }}'
    dest: '{{ etcd_fq_link }}'
    state: link
