---
- include_role:
    name: andrewrothstein.unarchive-deps
- name: check for installation in {{ etcd_install_subdir }}
  become: true
  stat:
    path: '{{ etcd_install_subdir }}'
  changed_when: false
  register: etcd_binary_dir

- when: not etcd_binary_dir.stat.exists
  block:
    - name: downloading {{ etcd_archive_url }} to {{ etcd_tmp_archive }}
      become: true
      become_user: root
      get_url:
        url: '{{ etcd_archive_url }}'
        dest: '{{ etcd_tmp_archive }}'
        checksum: '{{ etcd_checksum }}'
        timeout: '{{ etcd_download_timeout_seconds }}'
        mode: 0644
    - name: unachive {{ etcd_tmp_archive }} to {{ etcd_install_dir }}
      become: true
      become_user: root
      unarchive:
        remote_src: true
        src: '{{ etcd_tmp_archive }}'
        dest: '{{ etcd_install_dir }}'
        creates: '{{ etcd_install_subdir }}'
        extra_opts: '{{ etcd_unarchive_extra_opts }}'
  always:
    - name: rm {{ etcd_tmp_archive }}
      become: true
      become_user: root
      file:
        path: '{{ etcd_tmp_archive }}'
        state: absent

- name: linking etcd and etcdctl from {{ etcd_install_dir }} to {{ etcd_install_subdir }}
  become: true
  become_user: root
  file:
    src: '{{ etcd_install_subdir }}/{{ item }}'
    dest: '{{ etcd_install_dir }}/{{ item }}'
    state: link
  with_items:
    - etcd{{ etcd_exe_suffix | default("") }}
    - etcdctl{{ etcd_exe_suffix | default("") }}
